.container-description {
  width: 100vw;
  height: 93vh;
  position: relative;
}

.poster {
  width: 100%;
  position: relative;
}

.backdrop {
  width: 0%;
  visibility: hidden;
  opacity: 0;
}

.data-description {
  width: 100%;
  padding: 5%;
  height: 41vh;
  text-align: center;
  margin: auto;
  margin: 1vh auto;
  /* background-color: #571df5; */
  background-color: #f0f0f0;
  position: absolute;
  top: 50vh;
  border-radius: 50px;
  overflow-y: scroll;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data-description > h2 {
  /* color: #f0f0f0; */
  color: #3800d3;
  text-transform: uppercase;
  margin: 1vh auto;
  margin-top: 3vh;
}

.data-description > p {
  width: 85vw;
  margin: 1vh auto;
}

.data-description > p > span {
  font-weight: bold;
}

.data-datos {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 2vh auto;
}

.data-datos > p > span {
  /* color: #3800d3; */
  /* text-transform: uppercase; */
  font-weight: bold;
}

.data-play button {
  position: absolute;
  background-color: transparent;
  bottom: 35vh;
  right: 0;
  font-weight: bold;
  text-align: center;
  border: none;
}

@media (min-width: 700px) {
  .container-description {
    width: 100vw;
    height: 93vh;
    position: relative;
    overflow: hidden;
  }

  .poster {
    /* width: 100%; */
    width: auto;
    height: 30vh;
    visibility: hidden;
  }

  .backdrop {
    width: 100vw;
    visibility: visible;
    opacity: 1;
    position: relative;
    top: 0;
  }

  .data-description {
    width: 100%;
    padding: 0;
    height: 100%;
    background: linear-gradient(
      260deg,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.76) 35%,
      rgba(0, 212, 255, 0) 100%
    );
    top: -1vh;
    border-radius: 0px;
    font-size: 1.5rem;
    color: #f0f0f0;
    justify-content: start;
    align-items: left;
    overflow-x: hidden;
  }

  .data-description > h2 {
    margin: 0;
    margin-top: 25vh;
    margin-left: 50vw;
    width: 100%;
    position: relative;
    left: 0;
  }

  .data-description > p {
    width: 100%;
    padding: 0 30vw;
    margin-left: 25vw;
  }

  .data-datos {
    width: 40%;
    justify-content: end;
    margin-left: 50vw;
  }

  .data-datos > p > span {
    /* color: #3800d3; */
    /* text-transform: uppercase; */
    font-weight: bold;
    width: 100%;
    margin: 0;
    margin-left: 10vw;
  }

  .data-play button {
    position: absolute;
    background-color: transparent;
    bottom: 35vh;
    right: 0;
    font-weight: bold;
    text-align: center;
    border: none;
  }
}
